@charset "UTF-8";

:root {
    --cor1: #4ACBF7;
    --cor2: #00B8F5;
    --cor3: #0091C2;
    --cor4: #005875;
    --cor5: #396675;
}

body {
    background-color: #4ACBF7;
    height: 100vh;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    
}
header > h1 {
    font-size: 100px;
    padding: 5px;
    margin: 0px;
}
header > p {
    font-size: 40px;
}

.teste {
    background-color: #0000007a;
    border-radius: 10px;
    color: white;
    height: 220px;
    width: 350px;
    text-align: left;
    padding: 20px;
    font-weight: bold; 
}

.teste {
    display: inline-block;
    margin: 20px;
}
#fases {
    background-color: #005875;
    text-align: center;   
}
a {
    text-decoration: none;
    color: rgb(38, 155, 190);   
}
a:hover {
    text-decoration: underline;
    color: rgb(89, 180, 207); 
}
img {
    display: inline-block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.26);
    border-radius: 20px;
    padding: 5px;
}
#imagens {
    width: 1000px;
    
    text-align: center;
    margin: auto;
    padding: 50px;
}
#playlist {
    background-image: linear-gradient(to bottom, #005875, #4ACBF7);
    text-align: center;
    margin: auto;
    height: 400px;
    width: 1200px;
    border: 2px solid darkblue;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 139, 0.363);
    font-size: 30px;
}

li {
    text-align: left;
}