@charset "UTF-8";

:root {
    --cor1: #4ACBF7;
    --cor2: #00B8F5;
    --cor3: #0091C2;
    --cor4: #005875;
    --cor5: #396675;
}

body {
    background-image: linear-gradient(to bottom, #6ad1f3, #377e96fd );
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    text-align: center;
    
}
header > h1 {
    font-size: 100px;
    padding: 5px;
    margin: 0px;
}
header > p {
    font-size: 40px;
}

#rap {
    background-color: #0000007a;
    border-radius: 10px;
    color: white;
    height: 220px;
    width: 350px;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    margin-left: 20%;
}
#dj {
    background-color: #0000007a;
    border-radius: 10px;
    color: white;
    height: 220px;
    width: 350px;
    text-align: left;
    padding: 20px;
    font-weight: bold;
    margin-right: 20%;
}
section {
    display: inline-block;
    margin: 20px;
}
#fases {
    background-color: #005875;
}
a {
    text-decoration: none;
    color: rgb(38, 155, 190);
    
}
a:hover {
    text-decoration: underline;
    color: rgb(89, 180, 207); 
}
